# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Future-Proofing (falls später npm/Node genutzt wird)
node_modules/
dist/
.env